.page {
  background-color: #000;
  min-width: 282px;
  /* max-width: 880px;  */
  margin: 0 auto;
  /* padding: 0; */
  color: #fff;
  font-family: "Inter", Arial, san-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
