.popup__container {
  width: 430px;
  position: relative;
  background-color: #fff;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  justify-content: center;
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); */
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    padding: 26px 22px 25px;
  }
}
