@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
@import url(./blocks/opacity/opacity.css);
@import url(./blocks/content/content.css);

@import url(./blocks/authentification/authentification.css);
@import url(./blocks/authentification/__title/authentification__title.css);
@import url(./blocks/authentification/__form/authentification__form.css);
@import url(./blocks/authentification/__input/authentification__input.css);
@import url(./blocks/authentification/__paragraph/authentification__paragraph.css);
@import url(./blocks/authentification/__link/authentification__link.css);
@import url(./blocks/authentification/__button/authentification__button.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__navigation-link/header__navigation-link.css);
@import url(./blocks/header/__user-info/header__user-info.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__logout/header__logout.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);

@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-save/profile__avatar-save.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/card/__like-count/card__like-count.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__profile-form/popup__profile-form.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__button-save/_disabled/popup__button-save_disabled.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/_photo-view/popup_photo-view.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
