.header {
  padding-top: 45px;
  position: relative;
  padding-bottom: 40px;
  max-width: 880px;
  width: 88.125%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
